<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xsis.android.batch217">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.timesheet.timesheet_approval.TimesheetApprovalProcessActivity"></activity>
        <activity android:name=".ui.timesheet.timesheet_collection.DataCollectedActivity"></activity>
        <activity android:name=".ui.prf_request.EditPRFCandidateActivity" />
        <activity android:name=".ui.prf_request.InputPRFCandidateActivity" />
        <activity android:name=".ui.prf_request.EditPRFRequestActivity" />
        <activity android:name=".ui.prf_request.InputPRFRequestActivity" />
        <activity android:name=".ui.employee_training.EmployeeTrainingFormActivity" />
        <activity android:name=".ui.employee_training.EmployeeTrainingEditActivity" />
        <activity android:name=".ui.leave_request.LeaveRequestDetailActivity" />
        <activity android:name=".ui.leave_request.LeaveRequestAddActivity" />
        <activity android:name=".ui.leave_request.LeaveRequestEditActivity" />
        <activity android:name=".ui.project.ProjectFormActivity" />
        <activity
            android:name=".ui.tipe_identitas.TipeIdentitasTambahActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.keluarga.KeluargaFormActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.timesheet.timesheet_entry.EntryTimesheetActivity" />
        <activity android:name=".ui.timesheet.timesheet_submission.DataSubmitActivity" />
        <activity
            android:name=".ui.jenjang_pendidikan.UbahPendidikanActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.keahlian.UbahDataKeahlianActivity" />
        <activity android:name=".ui.keahlian.InputDataKeahlianActivity" />
        <activity
            android:name=".ui.jenjang_pendidikan.InputPendidikanActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>